.homework {
  grid-area: homework;
  width: 100%;
  height: 100%;
  background-color: #003049;
  border-radius: 1vw;
  font-family: Arial, Helvetica, sans-serif;
}

.projects {
  grid-area: projects;
  width: 100%;
  height: 100%;
  background-color: #003049;
  border-radius: 1vw;
}

.finals {
  grid-area: finals;
  width: 100%;
  height: 100%;
  background-color: #003049;
  border-radius: 1vw;
}

.teachernotes {
  grid-area: teachernotes;
  width: 100%;
  height: 100%;
  background-color: #003049;
  border-radius: 1vw;
}

.downloaddocuments {
  grid-area: downloaddocuments;
  width: 100%;
  height: 100%;
  background-color: #003049;
  border-radius: 1vw;
}

.classesdates {
  grid-area: classesdates;
  width: 100%;
  height: 100%;
  background-color: #003049;
  border-radius: 1vw;
}

.writetoteacher {
  grid-area: writetoteacher;
  width: 100%;
  height: 100%;
  background-color: #003049;
  border-radius: 1vw;
}

.uploaddocuments {
  grid-area: uploaddocuments;
  width: 100%;
  height: 100%;
  background-color: #003049;
  border-radius: 1vw;
}

.attendence {
  grid-area: attendence;
  width: 100%;
  height: 100%;
  background-color: #003049;
  border-radius: 1vw;
}

.grades {
  grid-area: grades;
  width: 100%;
  height: 100%;
  background-color: #003049;
  border-radius: 1vw;
}

.main-content {
  width: 100%;
  height: 100%;
  gap: 0.75vw;
  margin: 0;
  display: grid;
  grid-template-areas:
    "homework homework homework teachernotes writetoteacher"
    "projects projects projects downloaddocuments uploaddocuments"
    "finals finals finals classesdates attendence"
    "finals finals finals classesdates attendence"
    "finals finals finals classesdates grades";
  grid-template-columns: 14vw;
  grid-template-rows: 33vh;
  border-radius: 0.25vw;
  background-color: #eae2b7;
}
